.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

data/raw
data/processed
runs
results/api_uploads
results/api_predictions

database/*.db
database/*.db-journal
database/*.sqlite
database/*.sqlite3

*.pt
*.pth
*.onnx
*.engine

mlruns
notebooks

environment_freeze.txt
yolo26n.pt
yolov8n.pt
yolov8s.pt

.DS_Store
Thumbs.db